header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: lightslategray;
    padding: 0 2%;
}

header nav {
    display: flex;
    align-items: center;
    gap: 15px;
}